<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="companyMapper">

	<insert id="companyInsert" parameterType="company">
		INSERT INTO
		COMPANY_INFO
		(COMPANY_ID, COMPANY_PASSWORD, COMPANY_NAME, COMPANY_PH, COMPANY_EMAIL, COMPANY_REGNUM, COMPANY_FLAG)
		VALUES
		(#{company_id} , #{company_password} , #{company_name} ,  #{company_ph} , #{company_email} , #{company_regnum} , 'W')
	</insert>

	 <select id="companyLogin" parameterType="company" resultType="company">
		SELECT *
		FROM COMPANY_INFO
		WHERE COMPANY_ID = #{company_id} AND COMPANY_PASSWORD = #{company_password}
	</select> 
	
	<select id="idCheck" parameterType="map" resultType="Int">
		SELECT count(*)
		FROM COMPANY_INFO
		WHERE COMPANY_ID = #{id}
	</select>
	
	<insert id="companyInsertExhibition" parameterType="exhibition">
		INSERT INTO EXHIBITION_INFO
		(EXHIBITION_ID , EXHIBITION_TITLE , EXHIBITION_START_DATE , EXHIBITION_END_DATE , EXHIBITION_TOTAL_DATE , EXHIBITION_IMAGE , EXHIBITION_CONTENTS , EXHIBITION_LOCATION , EXHIBITION_PRICE , COMPANY_ID , EXHIBITION_FLAG)
		VALUES 
		(SEQ_EXHIBITION.nextval  , #{exhibition_title} , #{exhibition_start_date} , #{exhibition_end_date} , #{exhibition_total_date} , #{exhibition_image} , #{exhibition_contents} , #{exhibition_location} , #{exhibition_price} , #{company_id}  ,'W')
	</insert>
	
	<insert id="companyUpdateExhibition" parameterType="exhibition">
		UPDATE EXHIBITION_INFO
		SET EXHIBITION_TITLE = #{exhibition_title} , EXHIBITION_START_DATE = #{exhibition_start_date} , EXHIBITION_END_DATE = #{exhibition_end_date} , EXHIBITION_TOTAL_DATE = #{exhibition_total_date} , EXHIBITION_IMAGE = #{exhibition_image} , EXHIBITION_CONTENTS = #{exhibition_contents} , EXHIBITION_LOCATION = #{exhibition_location} , EXHIBITION_PRICE = #{exhibition_price} , EXHIBITION_FLAG = 'W'
		WHERE EXHIBITION_ID = #{exhibition_id}
	</insert>
	
	
	
	<select id="companyExhibitionList" parameterType="exhibition" resultType="exhibition">
	SELECT * FROM EXHIBITION_INFO
	WHERE COMPANY_ID = #{company_id}
	</select>
	
	<select id="companyExhibitionDetail" parameterType="exhibition" resultType="exhibition">
	SELECT * FROM EXHIBITION_INFO
	WHERE COMPANY_ID = #{company_id} AND EXHIBITION_ID = #{exhibition_id}
	</select>
	
	
	<select id="companyconfirmpassword" parameterType="company" resultType="company">
	SELECT *
	FROM CUSTOMER_INFO
	WHERE CUSTOMER_PASSWORD = #{company_password} AND CUSTOMER_ID =#{company_id}
	</select>
	

</mapper>