<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="exhibitionMapper">
	<select id="exhibitionList" parameterType="exhibition" resultType="exhibition">
		SELECT *
		FROM EXHIBITION_INFO
		WHERE EXHIBITION_START_DATE = TO_DATE('2022.04.28') AND EXHIBITION_END_DATE  = TO_DATE('2022.05.31')
	</select>
	
	<select id="exhibitionAll" parameterType="exhibition" resultType="exhibition">
		SELECT *
		FROM EXHIBITION_INFO
	</select>
	
	<select id="comingExhibition" parameterType="exhibition" resultType="exhibition">
		
		SELECT *
		
		FROM (
			SELECT *
			FROM EXHIBITION_INFO
			WHERE EXHIBITION_START_DATE > SYSDATE
			ORDER BY EXHIBITION_START_DATE
			)
		WHERE <![CDATA[ ROWNUM <= 8]]>
		ORDER BY EXHIBITION_START_DATE
	</select>
	
<!-- 	<select id="exhibitionSearch" parameterType="map" resultType="exhibition"> -->
		
<!-- 		SELECT * -->
<!-- 		FROM EXHIBITION_INFO -->
<!-- 		WHERE EXHIBITION_START_DATE <![CDATA[< TO_DATE(']]>${st}<![CDATA[')]]> AND EXHIBITION_END_DATE <![CDATA[> TO_DATE(']]>${ed}<![CDATA[')]]> -->
<!-- 	</select> -->

	<select id="exhibitionSearch" parameterType="map"
		resultType="exhibition">
		SELECT *
		FROM ( SELECT *
		FROM EXHIBITION_INFO
		WHERE EXHIBITION_START_DATE <![CDATA[< TO_DATE(']]>${st}<![CDATA[')]]>
		AND EXHIBITION_END_DATE <![CDATA[> TO_DATE(']]>${ed}<![CDATA[')]]>
		ORDER BY EXHIBITION_ID )
		WHERE <![CDATA[ ROWNUM <= ]]> ${endRow}
	</select>
	
	
	<select id="exhibitionSearchTitle" parameterType="map" resultType="exhibition">
		SELECT *
		FROM ( SELECT * FROM EXHIBITION_INFO
		WHERE EXHIBITION_TITLE LIKE '%${title}%'
		ORDER BY EXHIBITION_ID )
		WHERE <![CDATA[ ROWNUM <= ]]> ${endRow}
	</select>
	
	
	<select id="exhibitionDetail" parameterType="map" resultType="exhibition">
		SELECT *
		FROM EXHIBITION_INFO
		WHERE EXHIBITION_ID = ${id}
	</select>
	
	<select id="randomExhibition" parameterType="exhibition" resultType="exhibition">
		<![CDATA[select * from  (select * from EXHIBITION_INFO order by dbms_random.value)
		where rownum <= 3]]>
	</select>
	
	<select id="lastExhibition" parameterType="exhibition" resultType="exhibition">
		<![CDATA[SELECT *
		FROM(SELECT *
			FROM EXHIBITION_INFO
			WHERE TO_DATE(EXHIBITION_END_DATE) >= SYSDATE
			ORDER BY EXHIBITION_END_DATE)
		WHERE ROWNUM=1]]>
	</select>
	
</mapper>