<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="masterCompanyMapper">

	<select id="masterCompanySelect" resultType="masterCompany">
		SELECT *
		FROM COMPANY_INFO
		WHERE COMPANY_FLAG = 'W'
	</select>
	
	<update id="masterCompanyUpdate" parameterType="masterCompany" >
		UPDATE COMPANY_INFO
		
	</update>

</mapper>  