<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ticketingMapper">
	<insert id="ticketInsert" parameterType="ticket">
	INSERT INTO
      TICKETING
      (TICKETING_ID, TICKETING_DATE , CONSUMER_NAME , CONSUMER_PH,
      CUSTOMER_ID
      ,EXHIBITION_ID , TICKETING_FLAG , TICKETING_PEOPLE , TICKETING_MONEY, MONTH)
      VALUES
      (seq_ticketing.nextval ,
      #{ticketing_date} , #{consumer_name} , #{consumer_ph} ,
      #{customer_id}
      , #{exhibition_id} , 'N' , #{ticketing_people} , #{ticketing_money} , #{ticketing_month})	
	</insert>

	<select id="ticketSelecting" parameterType="Hashmap" resultType="ticketSelect">
		SELECT e.EXHIBITION_ID , e.EXHIBITION_TITLE ,e.EXHIBITION_START_DATE , e.EXHIBITION_END_DATE , e.EXHIBITION_IMAGE , e.EXHIBITION_LOCATION 
		, t.TICKETING_DATE , t.CONSUMER_NAME , t.CONSUMER_PH , t.CUSTOMER_ID , t.TICKETING_ID , t.TICKETING_PEOPLE , t.TICKETING_MONEY , t.TICKETING_FLAG
		FROM EXHIBITION_INFO e , TICKETING t
		<where>
  		<if test="id != null">
		e.EXHIBITION_ID = t.EXHIBITION_ID AND CUSTOMER_ID =  <![CDATA[']]>${id}<![CDATA[']]>
		</if>
		</where>
		ORDER BY t.TICKETING_ID DESC
	</select>
	
	<!-- TICKETING_FLAG -->
	<update id="flagChange" parameterType="ticket">
		UPDATE TICKETING
		SET TICKETING_FLAG = 'Y'
		WHERE TICKETING_ID = #{ticketing_id} AND CUSTOMER_ID = #{customer_id}
	</update>
	
</mapper>


